global:
  redis:
    password: {{ .Values.redis.password | quote }}

replica:
  replicaCount: {{ .Values.replicaCount }}

resources:
  limits:
    memory: "4Gi"
    cpu: "4000m"
  requests:
    memory: "4Gi"
    cpu: "4000m"