## Add overrides for defaults in this file.

## Values data can be pulled from the following:
## https://github.com/bitnami/charts/blob/master/bitnami/nginx-ingress-controller/README.md
## https://github.com/bitnami/charts/blob/master/bitnami/nginx-ingress-controller/values.yaml