auth:
  enabled: true
  rootUser: {{ .Values.mongodb.user | quote }}
  rootPassword: {{ .Values.mongodb.pass | quote }}

resources:
  limits:
    memory: {{ .Values.mongodb.resources.limits.memory | quote }}
    cpu: {{ .Values.mongodb.resources.limits.cpu | quote }}
  requests:
    memory: {{ .Values.mongodb.resources.requests.memory | quote }}
    cpu: {{ .Values.mongodb.resources.requests.cpu | quote }}

extraFlags:
  - "--wiredTigerCacheSizeGB=2"