auth:
  enabled: true
  rootUser: {{ .Values.mongodb.user | quote }}
  rootPassword: {{ .Values.mongodb.pass | quote }}

resources:
  limits:
    memory: "4Gi"
    cpu: "4000m"
  requests:
    memory: "4Gi"
    cpu: "4000m"

extraFlags:
  - "--wiredTigerCacheSizeGB=2"